<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      href="../static/css/main.css"
      type="text/css"
      th:href="@{/css/main.css}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      href="../static/js/index.js"
      type="text/javascript"
      th:src="@{/js/index.js}"
    ></script>
    <title>Kathai</title>
  </head>
  <body>
    <div class="item1">
      <img
        src="../static/images/f3.png"
        th:src="@{/images/f3.png}"
        alt="Title"
      />
    </div>

    <div class="item2">
      <button class="openbtn" onclick="openNav()"><span>☰ Menu</span></button>
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>

        <a href="/api/books/" class="active">Home</a><br />

        <button class="dropdown-btn">
          Analysis
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/api/books/read">Book Reading</a>
          <a href="/api/books/genre">Genre</a>
        </div>

        <br />
        <a href="https://spacecupcake1.github.io/Kathai/HTML/form.html"
          >Contact Form</a
        >
      </div>
    </div>

    <div class="transbox">
      <div class="grid-container">
        <div class="item3">
          <h1>Book List</h1>
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Book</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="book : ${bookList}">
                <td th:text="${book.id}">Book-Id</td>
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.page}">Pages</td>
                <td th:text="${book.rating}">Rating</td>
              </tr>
            </tbody>
          </table>

          <!-- <div class="pagination">
            <ul>
            <li><a th:href="@{/books?page=0}">First</a></li>
          <li><span th:if="${bookList.number > 0}">
                <a th:href="@{/books?page=${bookList.number - 1}}">Previous</a>
            </span></li>
          <li><span th:if="${bookList.number + 1 < bookList.totalPages}">
                <a th:href="@{/books?page=${bookList.number + 1}}">Next</a>
            </span></li>
          <li><a th:href="@{/books?page=${bookList.totalPages - 1}}">Last</a></li>
          </ul>
        </div>       -->
        </div>

        <div class="item4">
          <b>footer</b>
        </div>
      </div>
    </div>
  </body>
</html>
