<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      href="../static/js/index.js"
      type="text/javascript"
      th:src="@{/js/index.js}"
    ></script>
    <style>
      .pagination {
        display: inline-block
      }

      .pagination li {
        display: inline;
        margin-right: 5px;
      }

      .pagination li a {
        text-decoration: none;
        color: white;
        padding: 8px 16px;
        background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
      }

      .middle {
        text-align: center;
      }
    </style>
    <title>Kathai</title>
  </head>
  <body>
    <div class="item1">
      <img
        src="../static/images/f3.png"
        th:src="@{/images/f3.png}"
        alt="Title"
      />
    </div>

    <div class="item2">
      <button class="openbtn" onclick="openNav()"><span>☰ Menu</span></button>
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>

        <a href="/api/books/" class="active">Home</a><br />

        <button class="dropdown-btn">
          Analysis
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/api/books/read">Book Reading</a>
          <a href="/api/books/genre">Genre</a>
        </div>

        <br />
        <a href="https://spacecupcake1.github.io/Kathai/HTML/form.html"
          >Contact Form</a
        >
      </div>
    </div>

    <div class="transbox">
      <div class="grid-container">
        <div class="item3">
          <h1 style="text-align: center; font-size: 45px">Book List</h1>
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Book</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="book : ${bookList}">
                <td th:text="${book.id}">Book-Id</td>
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.page}">Pages</td>
                <td th:text="${book.rating}">Rating</td>
              </tr>
            </tbody>
          </table>

          <div th:if="${totalPages > 1}" class="middle">
            <ul class="pagination">
               <li th:if="${currentPage > 0}">
                    <a th:href="@{/api/books(page=0, size=${pageSize})}">First</a>
                </li> 
              <li th:if="${currentPage > 0}">
                <a
                  th:href="@{/api/books(page=${previousPage}, size=${pageSize})}"
                  ><b>Previous</b></a
                >
              </li>
              <li th:if="${currentPage < totalPages - 1}">
                <a th:href="@{/api/books(page=${nextPage}, size=${pageSize})}"
                  ><b>Next</b></a
                >
              </li>
              <li th:if="${currentPage < totalPages - 1}">
                    <a th:href="@{/api/books(page=${lastPage}, size=${pageSize})}"><b>Last</b></a>
                </li>
            </ul>
          </div>
        </div>

        <div class="item4">
          <b>footer</b>
        </div>
      </div>
    </div>
  </body>
</html>
