<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      href="../static/css/main.css"
      type="text/css"
      th:href="@{/css/main.css}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <title>Rating Chart</title>
  </head>

  <body>
    <div class="item1">
      <img
        src="../static/images/f3.png"
        th:src="@{/images/f3.png}"
        alt="Title"
      />
    </div>

    <div class="item2">
      <button class="openbtn" onclick="openNav()"><span>☰ Menu</span></button>
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>

        <a href="/api/books">Home</a><br />

        <button class="dropdown-btn">
          Analysis
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/api/books/read">Book Reading</a>
          <a href="/api/books/genre">Genre</a>
          <a href="/api/books/rating" class="active">Rating</a>
        </div>

        <br />
        <a href="https://spacecupcake1.github.io/Kathai/HTML/form.html"
          >Contact Form</a
        >
      </div>
    </div>

    <div class="transbox">
      <div class="grid-container">
        <div class="item3">
          <h1 style="text-align: center; font-size: 45px">Rating Analysis</h1>
          <div style="text-align: center">
            <br />
            <p style="color: gray; text-align: middle; font-size: 30px">
              <u>Pie Chart</u>
            </p>
            <canvas id="ratingPieChart" class="pie-chart"></canvas>
            <br />
            <br />
            <br />
            <p style="color: gray; text-align: middle; font-size: 30px">
              <u>Bar Chart with percentage</u>
            </p>
            <canvas id="ratingBarChart" class="bar-chart"></canvas>
          </div>
        </div>

        <!-- <div class="item4">
          <b>footer</b>
        </div> -->
      </div>
    </div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      var ratingCounts = /*[[${ratingCountsJson}]]*/ "{}";
      ratingCounts = JSON.parse(ratingCounts);
      console.log("Parsed Rating Counts: ", ratingCounts);

      var pieCtx = document.getElementById("ratingPieChart").getContext("2d");
      var barCtx = document.getElementById("ratingBarChart").getContext("2d");

      // Pie Chart
      new Chart(pieCtx, {
        type: "pie",
        data: {
          labels: Object.keys(ratingCounts),
          datasets: [
            {
              label: "Genre Counts",
              data: Object.values(ratingCounts),
              backgroundColor: [
                "rgba(138, 0, 0, 1)",
                "rgba(44, 118, 131, 1)",
                "rgba(255, 206, 86, 0.6)",
                "rgba(75, 192, 192, 0.6)",
                "rgba(255, 159, 64, 0.2)",
                "rgba(138, 229, 0, 1)",
                "rgba(90, 255, 234, 0.8)",
                "rgba(54, 162, 235, 0.4)",
                "rgba(44, 150, 255, 1)",
                "rgba(242, 118, 131, 1)",
              ],
              borderColor: [
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          title: {
            display: false,
            text: "Pie Chart",
            fontSize: 30,
          },
          legend: {
            display: true,
            position: "right",
            labels: {
              fontColor: "rgb(0, 0, 0)",
              fontSize: 17,
              usePointStyle: {
                fontSize: 30,
              },
              generateLabels: function (chart) {
                var data = chart.data;
                if (data.labels.length && data.datasets.length) {
                  return data.labels.map(function (label, i) {
                    var meta = chart.getDatasetMeta(0);
                    var ds = data.datasets[0];
                    var arc = meta.data[i];
                    var value = ds.data[i];
                    var percentage = (
                      (value / ds.data.reduce((a, b) => a + b, 0)) *
                      100
                    ).toFixed(2);
                    return {
                      // text: label + ": " + value + " (" + percentage + "%)",
                      text: label + ": " + " (" + percentage + "%)",
                      hidden: isNaN(ds.data[i]) || meta.data[i].hidden,
                      index: i,
                      fillStyle: ds.backgroundColor[i],
                    };
                  });
                }
                return [];
              },
            },
          },
          responsive: true,
        },
      });

      // Bar Chart with Percentages
      new Chart(barCtx, {
        type: "bar",
        data: {
          labels: Object.keys(ratingCounts),
          datasets: [
            {
              label: "Percentages",
              data: Object.values(ratingCounts).map(function (value) {
                return (
                  (value /
                    Object.values(ratingCounts).reduce((a, b) => a + b, 0)) *
                  100
                ).toFixed(2);
              }),
              backgroundColor: [
                "rgba(138, 0, 0, 1)",
                "rgba(44, 118, 131, 1)",
                "rgba(255, 206, 86, 0.6)",
                "rgba(75, 192, 192, 0.6)",
                "rgba(255, 159, 64, 0.2)",
                "rgba(138, 229, 0, 1)",
                "rgba(90, 255, 234, 0.8)",
                "rgba(54, 162, 235, 0.4)",
                "rgba(44, 150, 255, 1)",
                "rgba(242, 118, 131, 1)",
              ],
              borderColor: [
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          title: {
            display: true,
          },
          legend: {
            display: false,
          },
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
              max: 100,
              ticks: {
                stepSize: 10,
              },
            },
            x: {
              ticks: {
                callback: function (value) {
                  return value + "%";
                },
              },
            },
          },
        },
      });

      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }

      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
          console.log("Button Clicked");
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });

        console.log(dropdown);
      }
      /*]]>*/
    </script>
  </body>
</html>
