<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <title>Genre Chart</title>
  </head>

  <body>
    <div class="item1">
      <img
        src="../static/images/f3.png"
        th:src="@{/images/f3.png}"
        alt="Title"
      />
    </div>

    <div class="item2"> 
        <button class="openbtn" onclick="openNav()"><span>☰ Menu</span></button>
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
  
          <a href="/">Home</a><br />
  
          <button class="dropdown-btn">
            Analysis
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="/books/read">Reading Progress</a>
            <a href="/books/genre">Genre</a>
            <a href="/books/rating">Rating</a>
            <a href="/books/format" class="active">Format</a>
          </div>
  
          <br />
          <a href="/logout">Logout</a><br />
        </div>
      </div>

    <div class="transbox">
      <div class="grid-container">
        <div class="item3">
          <h1>Format Analysis</h1>
          <div style="text-align: center">
            <br />
            <p style="color: gray; text-align: middle; font-size: 30px">
              <u>Pie Chart</u>
            </p>
            <canvas id="formatPieChart" class="pie-chart"></canvas>
            <br />
            <br />
            <br />
            
          </div>
        </div>

        <!-- <div class="item4">
          <b>footer</b>
        </div> -->
      </div>
    </div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      
      var formatCounts = {{ result_json | tojson | replace("\'", "\"") | replace("\n", "") | replace("\r", "") | safe }};
      console.log("Original Format Counts: ", formatCounts);

      formatCounts = JSON.parse(formatCounts)
      console.log("Parsed Format Counts: ", formatCounts);

      var formatCtx = document.getElementById("formatPieChart").getContext("2d");

      // Format
      new Chart(formatCtx, {
        type: "pie",
        data: {
          labels: formatCounts.map(item => item._id),
          datasets: [
            {
              label: "Genre Counts",
              data: formatCounts.map(item => item.count),
              backgroundColor: [
                "rgba(54, 162, 235, 0.6)",
                "rgba(125, 0, 255, 0.8)",
              ],
              borderColor: [
                "rgba(0, 0, 0, 1)",
                "rgba(0, 0, 0, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          title: {
            display: false,
            text: "Pie Chart",
            fontSize: 30,
          },
          legend: {
            display: true,
            position: "right",
            labels: {
              fontColor: "rgb(0, 0, 0)",
              fontSize: 17,
              usePointStyle: {
                fontSize: 30,
              } ,
              generateLabels: function (chart) {
                var data = chart.data;
                if (data.labels.length && data.datasets.length) {
                  return data.labels.map(function (label, i) {
                    var meta = chart.getDatasetMeta(0);
                    var ds = data.datasets[0];
                    var arc = meta.data[i];
                    var value = ds.data[i];
                    var percentage = (
                      (value / ds.data.reduce((a, b) => a + b, 0)) *
                      100
                    ).toFixed(2);
                    return {
                      // text: label + ": " + value + " (" + percentage + "%)",
                      text: label + ": " + " (" + percentage + "%)",
                      hidden: isNaN(ds.data[i]) || meta.data[i].hidden,
                      index: i,
                      fillStyle: ds.backgroundColor[i],
                    };
                  });
                }
                return [];
              },
            },
          },
          responsive: true,
        },
      });

      // OtherChart


      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }

      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
          console.log("Button Clicked");
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });

        console.log(dropdown);
      }
      /*]]>*/
    </script>
  </body>
</html>