<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <title>Book Reading Chart</title>
  </head>

  <body>
    <div class="item1">
      <img
        src="../static/images/f3.png"
        th:src="@{/images/f3.png}"
        alt="Title"
      />
    </div>

    <div class="item2"> 
      <button class="openbtn" onclick="openNav()"><span>☰ Menu</span></button>
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>

        <a href="/">Home</a><br />

        <button class="dropdown-btn">
          Analysis
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/books/overview">Overview</a>
          <a href="/books/read" class="active">Reading Progress</a>
          <a href="/books/genre">Genre</a>
          <a href="/books/rating">Rating</a>
          <a href="/books/format">Format</a>
        </div>

        <br />
        <a href="/logout">Logout</a><br />
      </div>
    </div>

    <div class="transbox">
      <div class="grid-container">
        <div class="item3">
          <h1>
            Reading Progress Analysis
          </h1>
          <div style="text-align: center">
            <br />
            <div style="font-size: 20px;">

              <select name="year" id="yearSelect">
                    <option value="{{ year }}">2022</option>
                    <option value="{{ year }}">2023</option>
                    <option value="{{ year }}">2024</option>
            </select>&nbsp;&nbsp;&nbsp;

            <p style="color: gray; text-align: middle; font-size: 30px">
              <u>Books read
              </u>
            </p>
            <canvas id="readBarChart" class="bar-chart"></canvas>
                <br />
                <br />
                <br />
          </div>
        </div>

        <!-- <div class="item4">
          <b>footer</b>
        </div> -->
      </div>
    </div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      var readCounts = {{ result_json | tojson | replace("\'", "\"") | replace("\n", "") | replace("\r", "") | safe }};

      console.log("Original Read Counts: ", readCounts);

      readCounts = JSON.parse(readCounts)
      console.log("Parsed Read Counts: ", readCounts);

      const barCtx = document.getElementById("readBarChart").getContext("2d");

      // Bar Chart
      new Chart(barCtx, {
          type: "bar",
          data: {
              labels: readCounts.map(item => item.month),
              datasets: [
                  {
                      data: readCounts.map(item => item.count),
                      backgroundColor: "rgba(54, 162, 235, 0.6)",
                      borderColor: "rgba(0, 0, 0, 1)",
                      borderWidth: 1,
                  },
              ],
          },
          options: {
              title: {
                  display: true,
                  //text: 'Books Read in Each Month',
              },
              legend: {
                  display: false,
              },
              responsive: true,
              scales: {
                  y: {
                      beginAtZero: true,
                      stepSize: 1,  // Adjust as needed
                  },
                  x: {
                      // Customize x-axis options if necessary
                  },
              },
          },
      });

      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        sidebar.style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        sidebar.style.marginLeft = "0";
      }

      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
          console.log("Button Clicked");
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });

        console.log(dropdown);
      }
      /*]]>*/
    </script>
  </body>
</html>